APP_ENV=local

API_HOST=0.0.0.0
API_PORT=8000

FORECAST_SERVICE_HOST=forecast-service
FORECAST_SERVICE_PORT=8001

CONTROL_SERVICE_HOST=control-service
CONTROL_SERVICE_PORT=8002

SIMULATION_SERVICE_HOST=simulation-service
SIMULATION_SERVICE_PORT=8003

DASHBOARD_PORT=8501

API_GATEWAY_URL=http://api:8000
FORECAST_SERVICE_URL=http://forecast-service:8001
CONTROL_SERVICE_URL=http://control-service:8002
SIMULATION_SERVICE_URL=http://simulation-service:8003

KMA_API_KEY=YOUR_KMA_API_KEY
DATA_DIR=./data
MODEL_DIR=./data/models