APP_ENV=local

API_HOST=0.0.0.0
API_PORT=8000

FORECAST_SERVICE_HOST=localhost
FORECAST_SERVICE_PORT=8001

CONTROL_SERVICE_HOST=localhost
CONTROL_SERVICE_PORT=8002

SIMULATION_SERVICE_HOST=localhost
SIMULATION_SERVICE_PORT=8003

DASHBOARD_PORT=8501

KMA_API_KEY=YOUR_KMA_API_KEY
DATA_DIR=./data
MODEL_DIR=./data/models