.lock
.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.lock
CLAUDE.md
프로젝트 명세서.pdf
.env
명세서3.md
data/raw/
data/interim/
data/processed/
data/models/

.DS_Store
.idea/
.vscode/

# sinergym
Eplus-datacenter_dx-mixed-continuous-stochastic-v1-*

# 강화학습 로그
logs/
